body{
    margin: 0;
    padding: 0;
    font-family: Lovelo;
    max-width: 100vw;
    position: relative;
}

/* FONT IMPORT */

@font-face {
    font-family: 'Lovelo Black';
    src: url('./fonts/Lovelo\ Black.otf') format('opentype'); 
}

@font-face {
    font-family: 'Lovelo Line Light';
    src: url('./fonts/Lovelo\ Line\ Light.otf') format('opentype');
}

@font-face {
    font-family: 'Lovelo Line Bold';
    src: url('./fonts/Lovelo\ Line\ Bold.otf') format('opentype');
}

/* PARTICLES-JS */
#particles-js{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/* MY NAME IS */
h1,p{
    font-family: "Lovelo Black", sans-serif;
}

.bigdiv{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.minidiv1{
    max-width: 100vw;
    position: absolute;
    z-index: 5;
}

#text{
    font-size: 5rem;
    text-wrap: nowrap;
    font-family: "Lovelo Black", sans-serif;
    text-shadow: 0 0 50px gray;
    z-index: 5;
}

.minidiv2{
    max-width: 100vw;
    position: absolute;
    z-index: -3;
}

#backtext{
    font-size: 13.5rem;
    text-wrap: nowrap;
    font-family: "Lovelo Line Light", sans-serif;
    z-index: -3;
    color: #7f7f7f;
}

#maintext{
    font-size: 500px;
    margin-left : 250px;
    z-index: 10;
}

/* ABOUT ME */

.aboutme{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aboutme > .tag{
    opacity: 75%;
}

.info{
    text-align: center;
    max-width: 600px;
    opacity: 50%;
}


/* SKILLS */
.skills{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* min-width: 800px; */
}

.skill{
    text-align: center;
    min-width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 50%;
}


/* FOOTER */
.footer{
    margin-top: 70px;
    background-color: #efefef;
    height: 100px;
    display: flex;
    justify-content: space-around ;
    align-items: center;
    z-index: 2;
}

.footer *{
    font-family: "Lovelo Black", sans-serif;
    color: black;
    opacity: 100%;
    text-decoration: none;
}

/* .footer p{
    position: absolute;
    align-self: center;
    justify-self: center;
} */

#footer-name{
    font-size: 30px;
    font-family: "Lovelo Line Light" , "Lovelo Black" , sans-serif;
}
